<div class="starter-template">
    <h1>Join and follow your favorite people!</h1>
    <p class="lead">Join for free, and enjoy a new social experience</p>
</div>
<div class="col-md-8 col-md-offset-4">
    <a class="btn btn-primary btn-lg" href="/signup">Sign up</a>
    <a class="btn btn-primary btn-lg" href="/login">Login</a>
</div>